<div class="f5 lh-copy measure">
  <p>I’m a designer working in identity, editorial design, and illustration.</p>
	<p>She has previously worked as a designer at Pentagram in New York for partner Michael Bierut and at Apple on the global communications team. She teaches design as adjunct faculty at Parsons The New School and the Pratt Institute. She has been a guest critic at the California College of the Arts and School of Visual Arts, and lectured at the AIGA and Type Directors Club.</p>
</div>