{{ define "main" }}
    <div class="left-container fl w-50 w-100-ns vh-100 mt4 pa4 scroll">
      <section class="mb4 bg-black">
        <h1 class="f2 lh-title open-sans">Hi, my name is Yeli.</h1>
        <ul class="list fr ma0">
          {{ partial "links.html" . }}
        </ul>
        {{ partial "bio.html" . }}
      </section>
      <section class="mb4  bg-black">
        <h2 class="f4 open-sans">Selected Projects</h2>
        {{ partial "portfolio-list.html" . }}
      </section>
      <ul class="lh-copy list flex justify-between pa0 ma0 bg-black flex-wrap">
        <li class="w-40">
          <h2 class="f4 open-sans pa0">Talks</h2>
          <ul class="list pa0 flex flex-column">
            {{ range sort $.Site.Data.talks "year" "desc"}}
              {{ partial "spoken-written.html" . }}
            {{ end }}
          </ul>
        </li>
        <li class="w-40">
          <h2 class="f4 open-sans pa0">Press</h2>
          <ul class="list pa0 flex flex-column">
            {{ range sort $.Site.Data.press "year" "desc"}}
              {{ partial "spoken-written.html" . }}
            {{ end }}
          </ul>
        </li>
        <li class="w-40">
          <h2 class="f4 open-sans pa0">Writing</h2>
          {{ partial "blog-list.html" . }}
          <ul class="list pa0 flex flex-column">
            {{ range sort $.Site.Data.written "year" "desc"}}
              {{ partial "spoken-written.html" . }}
            {{ end }}
          </ul>
        </li>
      </ul>
    </div>
    <div class="right-container w-50 w-100-ns vh-100 no-scroll">
      <section>
        {{ partial "graphic.html" . }}
      </section>
    </div>
{{ end }}
<script type="text/javascript" src="js/fabric.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>